src/main/mule/sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6a7499a6-fd81-4a06-a0b1-ccb141bfebe0" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="182500cc-a1c2-468b-849d-ef12a4186bdc" file="common.yaml" />
	<configuration-properties doc:name="Configuration properties" doc:id="23795173-dbc5-4786-9ba5-a4a921f29ff4" file="${env}.yaml" />
	<flow name="sampleFlow" doc:id="72492ee7-5854-4969-b301-3e999aafc6e2" >
		<http:listener doc:name="Listener" doc:id="7ec2bae1-ae41-4809-906f-05aea4f48f29" config-ref="HTTP_Listener_config" path="/Jenkins"/>
		<set-payload value='#["This endpoint is related to cloudhub deployment using Jenkins"]' doc:name="Set Payload" doc:id="0e6d6cd0-fdc2-4648-a7b9-1790c558bb50" />
		<logger level="INFO" doc:name="Logger" doc:id="dd69d509-b81e-4052-85f7-5e3cb121a8a5" message="#[payload]"/>
	</flow>
</mule>
